* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.logo {
	width: 70px;
	height: 70px;
}



body {
	font-family: 'Open Sans' , sans-serifs;
}

nav {
	padding: 0.8rem;
	margin-bottom: 2rem;
	border bottom: 1px solid gray;
	text-align: center;
}

nav ul {
	list-style: none;
}

nav a {
	text-decoration: none;
	font-size: 2rem;
	color: blue;
}

#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;

}

.header {
	text-align: center;
}

.headerBg {
	background-color: lightgoldenrodyellow;
}


#succeed-info {
	margin-bottom: 1rem;
	flex-direction: row;
	display: flex;
	justify-content: space-evenly;
}

#intro .header {
	background-color: gainsboro;
	padding: 15px;
	font-size: 3rem;
}

.readNewsBtn {
	background-color: blue;
	color: white;
	text-decoration: none;
	font-size: 1rem;
	padding: 8px;
	border-radius: 8px;
	margin: 25px;
}

article {
	width: 30%;
	border: 1px solid gray;
	padding: 10px;
}
 
 #pre-footer {
 	text-align: center;

 }

 #succeed-info, h2 {
 	margin-bottom: 1rem;
 }

 #pre-footer h2 {
	text-align: center;
	margin-bottom: 1rem;
}
